@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
    url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat'),
    url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat'),
    url('../fonts/montserrat-v25-latin-italic.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-italic.woff') format('woff');
}

:root {
  --color-primary: #4f4f4f;
  --color-secondary: #333;
  --color-invert: #fff;

  --color-text-action: #fefefe;
  --color-background-action: #66ac66;

  --color-heading-title: #f3b562;
  --color-heading-subtitle: #647b64;
}

::selection {
  color: var(--color-invert);
  background-color: var(--color-primary);
}

body {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

.header-link {
  color: var(--color-secondary);
  text-decoration: none;
  text-underline-offset: 2px;
}

.header-link:hover {
  text-decoration: underline;
}

.button {
  color: var(--color-text-action);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-background-action);
}

.hero-title {
  color: var(--color-secondary);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.333;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.heading-title {
  color: var(--color-heading-title);
  font-size: 24px;
  line-height: 1.333;
}

.heading-subtitle {
  color: var(--color-heading-subtitle);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.333;
}