.team {
    @extend %container;
    @extend %section;
   

    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
                gap: 32px;
        }
           
        }
    
        &__item {
            position: relative;
            width: 368px;
            height: 408px;
            padding-top: 24px;
            padding-left: 32px;
            background-color: $colorInvert;
            background-image: url(../images/gradient.png);
            border-radius: 8px;

            @media screen and (max-width: 767px) {
                margin-bottom: 32px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__img {
            height: 264px;
        }
    
        &__content {
            position: absolute;
            top: 24px;
            right: 32px;
        }
    
        &__text {
            margin: 0;
            font-weight: 500;
            color: $colorSecondary;
            font-variant: small-caps;
        }
    
        &__title {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.571;
            font-variant: small-caps;
        }
    
        &__blockquote {
            min-width: 304px;
            margin: 24px 0 auto;
    
            font-style: italic;
        }
}

