$colorPrimary: #4f4f4f;
$colorSecondary: #333;
$colorInvert: #fff;
$colorBackground: #f3f1ee;
$colorBrand: #647b64;
$colorTertiary: #dfd1c0;

$colortextAction: #fefefe;
$colorbcgAction: #66ac66;

$colorheadingTitle: #f3b562;
$colorheadingSubtitle: #647b64;

$colorfooterBcg: #f0dcc5;

$colormodalBorder: #bdbdbd;

$decorGradient: linear-gradient(197.92deg,
    #ef8031 -227.37%,
    rgba(239, 128, 49, 0.307045) 1.58%,
    rgba(239, 128, 49, 0) 103.02%);